
body {
    background-color: #5a68e6;
    max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
  div { 
    max-width: 1600px;

}
header {
    background-color: #F0925D;
}
footer {
    background-color: #887B5A;
}
.card-img {
    width: 300px;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}