:root{
    --primary-color: #2CA361;
    --heading-font: "Minecrafter";
    --paragraph-font: "ROG Fonts";
    --footer-font: "Techno Hideo";
}


body {
    background-color: var(--primary-color);
    max-width: 960px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}
  div { 
    max-width: 1600px;

}
header {
    background-color: #F0925D;
    font-family: var(--heading-font);
}

section{
    font-family: var(--paragraph-font);
}

footer {
    background-color: #887B5A;
    font-family: var(--footer-font);
}

main{
    padding-inline: 100px;
}
.card-img {
    width: 300px;
    border: 10px solid #E33459;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}